# Immoscout24.de Scraper

Ein Script zum dumpen (in `.csv` schreiben) von Immobilien, welche auf [immoscout24.de](http://immoscout24.de) angeboten werden

In [16]:
from bs4 import BeautifulSoup
import json
import urllib2
import random
from random import choice
import time
import geopandas as gpd

In [2]:
# urlquery from Achim Tack. Thank you!
# https://github.com/ATack/GoogleTrafficParser/blob/master/google_traffic_parser.py
def urlquery(url):
    # function cycles randomly through different user agents and time intervals to simulate more natural queries
    try:
        sleeptime = float(random.randint(1,6))/5
        time.sleep(sleeptime)

        agents = ['Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_2) AppleWebKit/537.17 (KHTML, like Gecko) Chrome/24.0.1309.0 Safari/537.17',
        'Mozilla/5.0 (compatible; MSIE 10.6; Windows NT 6.1; Trident/5.0; InfoPath.2; SLCC1; .NET CLR 3.0.4506.2152; .NET CLR 3.5.30729; .NET CLR 2.0.50727) 3gpp-gba UNTRUSTED/1.0',
        'Opera/12.80 (Windows NT 5.1; U; en) Presto/2.10.289 Version/12.02',
        'Mozilla/4.0 (compatible; MSIE 5.5; Windows NT)',
        'Mozilla/3.0',
        'Mozilla/5.0 (iPhone; U; CPU like Mac OS X; en) AppleWebKit/420+ (KHTML, like Gecko) Version/3.0 Mobile/1A543a Safari/419.3',
        'Mozilla/5.0 (Linux; U; Android 0.5; en-us) AppleWebKit/522+ (KHTML, like Gecko) Safari/419.3',
        'Opera/9.00 (Windows NT 5.1; U; en)']

        agent = choice(agents)
        opener = urllib2.build_opener()
        opener.addheaders = [('User-agent', agent)]
        #print agent

        html = opener.open(url).read()
        time.sleep(sleeptime)
        
        return html

    except:
        print "fehler in urlquery"

In [3]:
def immoscout24parser(url):
    
    ''' Parser holt aus Immoscout24.de Suchergebnisseiten die Immobilien '''
    
    try:
        soup = BeautifulSoup(urlquery(url), 'html.parser')
        scripts = soup.findAll('script')
        for script in scripts:
            #print script.text.strip()
            if 'IS24.resultList' in script.text.strip():
                s = script.string.split('\n')
                for line in s:
                    #print('\n\n\'%s\'' % line)
                    if line.strip().startswith('resultListModel'):
                        resultListModel = line.strip('resultListModel: ')
                        immo_json = json.loads(resultListModel[:-1])

                        searchResponseModel = immo_json[u'searchResponseModel']
                        resultlist_json = searchResponseModel[u'resultlist.resultlist']
                        
                        return resultlist_json

    except Exception, e:
        print "fehler in immoscout24 parser: %s" % e

## Main Loop

Geht Wohnungen und HÃ¤user, jeweils zum Kauf und Miete durch und sammelt die Daten

In [4]:
immos = {}

b = 'Berlin'
s = 'Berlin'
k = 'Wohnung'
w = 'Miete'

page = 0
print('Suche %s / %s' % (k, w))

while True:
    page+=1
    url = 'http://www.immobilienscout24.de/Suche/S-T/P-%s/%s-%s/%s/%s?pagerReporting=true' % (page, k, w, b, s)

    # Because of some timeout or immoscout24.de errors,
    # we try until it works \o/
    resultlist_json = None
    while resultlist_json is None:
        try:
            resultlist_json = immoscout24parser(url)
            numberOfPages = int(resultlist_json[u'paging'][u'numberOfPages'])
            pageNumber = int(resultlist_json[u'paging'][u'pageNumber'])
        except:
            pass

    if page>numberOfPages:
        break

    # Get the data
    for resultlistEntry in resultlist_json['resultlistEntries'][0][u'resultlistEntry']:
        realEstate_json = resultlistEntry[u'resultlist.realEstate']
        
        realEstate = {}

        realEstate[u'Miete/Kauf'] = w
        realEstate[u'Haus/Wohnung'] = k

        realEstate['address'] = realEstate_json['address']['description']['text']
        realEstate['city'] = realEstate_json['address']['city']
        realEstate['postcode'] = realEstate_json['address']['postcode']
        realEstate['quarter'] = realEstate_json['address']['quarter']
        try:
            realEstate['lat'] = realEstate_json['address'][u'wgs84Coordinate']['latitude']
            realEstate['lon'] = realEstate_json['address'][u'wgs84Coordinate']['longitude']
        except:
            realEstate['lat'] = None
            realEstate['lon'] = None
            
        realEstate['title'] = realEstate_json['title']

        realEstate['numberOfRooms'] = realEstate_json['numberOfRooms']
        realEstate['livingSpace'] = realEstate_json['livingSpace']
        
        realEstate['balcony'] = realEstate_json['balcony']
        realEstate['builtInKitchen'] = realEstate_json['builtInKitchen']
        realEstate['garden'] = realEstate_json['garden']
        realEstate['price'] = realEstate_json['price']['value']
        realEstate['privateOffer'] = realEstate_json['privateOffer']
        
        realEstate['floorplan'] = realEstate_json['floorplan']
        realEstate['from'] = realEstate_json['companyWideCustomerId']
        realEstate['ID'] = realEstate_json[u'@id']
        realEstate['url'] = u'https://www.immobilienscout24.de/expose/%s' % realEstate['ID']

        immos[realEstate['ID']] = realEstate

    print('Scrape Page %i/%i (%i Immobilien %s %s gefunden)' % (page, numberOfPages, len(immos), k, w))

Suche Wohnung / Miete
Scrape Page 1/167 (20 Immobilien Wohnung Miete gefunden)
Scrape Page 2/167 (40 Immobilien Wohnung Miete gefunden)
Scrape Page 3/167 (60 Immobilien Wohnung Miete gefunden)
Scrape Page 4/167 (80 Immobilien Wohnung Miete gefunden)
Scrape Page 5/167 (100 Immobilien Wohnung Miete gefunden)
Scrape Page 6/167 (120 Immobilien Wohnung Miete gefunden)
Scrape Page 7/167 (140 Immobilien Wohnung Miete gefunden)
Scrape Page 8/167 (160 Immobilien Wohnung Miete gefunden)
Scrape Page 9/167 (180 Immobilien Wohnung Miete gefunden)
Scrape Page 10/167 (200 Immobilien Wohnung Miete gefunden)
Scrape Page 11/167 (220 Immobilien Wohnung Miete gefunden)
Scrape Page 12/167 (240 Immobilien Wohnung Miete gefunden)
Scrape Page 13/167 (260 Immobilien Wohnung Miete gefunden)
Scrape Page 14/167 (280 Immobilien Wohnung Miete gefunden)
Scrape Page 15/167 (300 Immobilien Wohnung Miete gefunden)
Scrape Page 16/167 (320 Immobilien Wohnung Miete gefunden)
Scrape Page 17/167 (340 Immobilien Wohnung Miete gefunden)
Scrape Page 18/167 (360 Immobilien Wohnung Miete gefunden)
Scrape Page 19/167 (380 Immobilien Wohnung Miete gefunden)
Scrape Page 20/167 (400 Immobilien Wohnung Miete gefunden)
Scrape Page 21/167 (420 Immobilien Wohnung Miete gefunden)
Scrape Page 22/167 (440 Immobilien Wohnung Miete gefunden)
Scrape Page 23/167 (460 Immobilien Wohnung Miete gefunden)
Scrape Page 24/167 (480 Immobilien Wohnung Miete gefunden)
Scrape Page 25/167 (500 Immobilien Wohnung Miete gefunden)
Scrape Page 26/167 (520 Immobilien Wohnung Miete gefunden)
Scrape Page 27/167 (540 Immobilien Wohnung Miete gefunden)
Scrape Page 28/167 (560 Immobilien Wohnung Miete gefunden)
Scrape Page 29/167 (580 Immobilien Wohnung Miete gefunden)
Scrape Page 30/167 (600 Immobilien Wohnung Miete gefunden)
Scrape Page 31/167 (620 Immobilien Wohnung Miete gefunden)
Scrape Page 32/167 (640 Immobilien Wohnung Miete gefunden)
Scrape Page 33/167 (660 Immobilien Wohnung Miete gefunden)
Scrape Page 34/167 (680 Immobilien Wohnung Miete gefunden)
Scrape Page 35/167 (700 Immobilien Wohnung Miete gefunden)
Scrape Page 36/167 (720 Immobilien Wohnung Miete gefunden)
Scrape Page 37/167 (740 Immobilien Wohnung Miete gefunden)
Scrape Page 38/167 (760 Immobilien Wohnung Miete gefunden)
Scrape Page 39/167 (780 Immobilien Wohnung Miete gefunden)
Scrape Page 40/167 (800 Immobilien Wohnung Miete gefunden)
Scrape Page 41/167 (820 Immobilien Wohnung Miete gefunden)
Scrape Page 42/167 (840 Immobilien Wohnung Miete gefunden)
Scrape Page 43/167 (860 Immobilien Wohnung Miete gefunden)
Scrape Page 44/167 (880 Immobilien Wohnung Miete gefunden)
Scrape Page 45/167 (900 Immobilien Wohnung Miete gefunden)
Scrape Page 46/167 (920 Immobilien Wohnung Miete gefunden)
Scrape Page 47/167 (940 Immobilien Wohnung Miete gefunden)
Scrape Page 48/167 (960 Immobilien Wohnung Miete gefunden)
Scrape Page 49/167 (980 Immobilien Wohnung Miete gefunden)
Scrape Page 50/167 (1000 Immobilien Wohnung Miete gefunden)
Scrape Page 51/167 (1020 Immobilien Wohnung Miete gefunden)
Scrape Page 52/167 (1040 Immobilien Wohnung Miete gefunden)
Scrape Page 53/167 (1060 Immobilien Wohnung Miete gefunden)
Scrape Page 54/167 (1080 Immobilien Wohnung Miete gefunden)
Scrape Page 55/167 (1100 Immobilien Wohnung Miete gefunden)
Scrape Page 56/167 (1120 Immobilien Wohnung Miete gefunden)
Scrape Page 57/167 (1139 Immobilien Wohnung Miete gefunden)
Scrape Page 58/167 (1159 Immobilien Wohnung Miete gefunden)
Scrape Page 59/167 (1179 Immobilien Wohnung Miete gefunden)
Scrape Page 60/167 (1199 Immobilien Wohnung Miete gefunden)
Scrape Page 61/167 (1219 Immobilien Wohnung Miete gefunden)
Scrape Page 62/167 (1239 Immobilien Wohnung Miete gefunden)
Scrape Page 63/167 (1259 Immobilien Wohnung Miete gefunden)
Scrape Page 64/167 (1279 Immobilien Wohnung Miete gefunden)
Scrape Page 65/167 (1299 Immobilien Wohnung Miete gefunden)
Scrape Page 66/167 (1319 Immobilien Wohnung Miete gefunden)
Scrape Page 67/167 (1339 Immobilien Wohnung Miete gefunden)
Scrape Page 68/167 (1359 Immobilien Wohnung Miete gefunden)
Scrape Page 69/167 (1379 Immobilien Wohnung Miete gefunden)
Scrape Page 70/167 (1399 Immobilien Wohnung Miete gefunden)
Scrape Page 71/167 (1419 Immobilien Wohnung Miete gefunden)
Scrape Page 72/167 (1439 Immobilien Wohnung Miete gefunden)
Scrape Page 73/167 (1459 Immobilien Wohnung Miete gefunden)
Scrape Page 74/167 (1479 Immobilien Wohnung Miete gefunden)
Scrape Page 75/167 (1499 Immobilien Wohnung Miete gefunden)
Scrape Page 76/167 (1519 Immobilien Wohnung Miete gefunden)
Scrape Page 77/167 (1539 Immobilien Wohnung Miete gefunden)
Scrape Page 78/167 (1559 Immobilien Wohnung Miete gefunden)
Scrape Page 79/167 (1579 Immobilien Wohnung Miete gefunden)
Scrape Page 80/167 (1599 Immobilien Wohnung Miete gefunden)
Scrape Page 81/167 (1619 Immobilien Wohnung Miete gefunden)
Scrape Page 82/167 (1639 Immobilien Wohnung Miete gefunden)
Scrape Page 83/167 (1659 Immobilien Wohnung Miete gefunden)
Scrape Page 84/167 (1679 Immobilien Wohnung Miete gefunden)
Scrape Page 85/167 (1699 Immobilien Wohnung Miete gefunden)
Scrape Page 86/167 (1719 Immobilien Wohnung Miete gefunden)
Scrape Page 87/167 (1739 Immobilien Wohnung Miete gefunden)
Scrape Page 88/167 (1759 Immobilien Wohnung Miete gefunden)
Scrape Page 89/167 (1779 Immobilien Wohnung Miete gefunden)
Scrape Page 90/167 (1799 Immobilien Wohnung Miete gefunden)
Scrape Page 91/167 (1819 Immobilien Wohnung Miete gefunden)
Scrape Page 92/167 (1839 Immobilien Wohnung Miete gefunden)
Scrape Page 93/167 (1859 Immobilien Wohnung Miete gefunden)
Scrape Page 94/167 (1879 Immobilien Wohnung Miete gefunden)
Scrape Page 95/167 (1899 Immobilien Wohnung Miete gefunden)
Scrape Page 96/167 (1919 Immobilien Wohnung Miete gefunden)
Scrape Page 97/167 (1939 Immobilien Wohnung Miete gefunden)
Scrape Page 98/167 (1959 Immobilien Wohnung Miete gefunden)
Scrape Page 99/167 (1979 Immobilien Wohnung Miete gefunden)
Scrape Page 100/167 (1999 Immobilien Wohnung Miete gefunden)
Scrape Page 101/167 (2019 Immobilien Wohnung Miete gefunden)
Scrape Page 102/167 (2039 Immobilien Wohnung Miete gefunden)
Scrape Page 103/167 (2059 Immobilien Wohnung Miete gefunden)
Scrape Page 104/167 (2079 Immobilien Wohnung Miete gefunden)
Scrape Page 105/167 (2099 Immobilien Wohnung Miete gefunden)
Scrape Page 106/167 (2119 Immobilien Wohnung Miete gefunden)
Scrape Page 107/167 (2139 Immobilien Wohnung Miete gefunden)
Scrape Page 108/167 (2159 Immobilien Wohnung Miete gefunden)
Scrape Page 109/167 (2179 Immobilien Wohnung Miete gefunden)
Scrape Page 110/167 (2199 Immobilien Wohnung Miete gefunden)
Scrape Page 111/167 (2219 Immobilien Wohnung Miete gefunden)
Scrape Page 112/167 (2239 Immobilien Wohnung Miete gefunden)
Scrape Page 113/167 (2259 Immobilien Wohnung Miete gefunden)
Scrape Page 114/167 (2279 Immobilien Wohnung Miete gefunden)
Scrape Page 115/167 (2299 Immobilien Wohnung Miete gefunden)
Scrape Page 116/167 (2319 Immobilien Wohnung Miete gefunden)
Scrape Page 117/167 (2339 Immobilien Wohnung Miete gefunden)
Scrape Page 118/167 (2359 Immobilien Wohnung Miete gefunden)
Scrape Page 119/167 (2379 Immobilien Wohnung Miete gefunden)
Scrape Page 120/167 (2399 Immobilien Wohnung Miete gefunden)
Scrape Page 121/167 (2419 Immobilien Wohnung Miete gefunden)
Scrape Page 122/167 (2439 Immobilien Wohnung Miete gefunden)
Scrape Page 123/167 (2459 Immobilien Wohnung Miete gefunden)
Scrape Page 124/167 (2479 Immobilien Wohnung Miete gefunden)
Scrape Page 125/167 (2499 Immobilien Wohnung Miete gefunden)
Scrape Page 126/167 (2519 Immobilien Wohnung Miete gefunden)
Scrape Page 127/167 (2539 Immobilien Wohnung Miete gefunden)
Scrape Page 128/167 (2559 Immobilien Wohnung Miete gefunden)
Scrape Page 129/167 (2579 Immobilien Wohnung Miete gefunden)
Scrape Page 130/167 (2599 Immobilien Wohnung Miete gefunden)
Scrape Page 131/167 (2619 Immobilien Wohnung Miete gefunden)
Scrape Page 132/167 (2639 Immobilien Wohnung Miete gefunden)
Scrape Page 133/167 (2659 Immobilien Wohnung Miete gefunden)
Scrape Page 134/167 (2679 Immobilien Wohnung Miete gefunden)
Scrape Page 135/167 (2699 Immobilien Wohnung Miete gefunden)
Scrape Page 136/167 (2719 Immobilien Wohnung Miete gefunden)
Scrape Page 137/167 (2739 Immobilien Wohnung Miete gefunden)
Scrape Page 138/167 (2759 Immobilien Wohnung Miete gefunden)
Scrape Page 139/167 (2779 Immobilien Wohnung Miete gefunden)
Scrape Page 140/167 (2799 Immobilien Wohnung Miete gefunden)
Scrape Page 141/167 (2819 Immobilien Wohnung Miete gefunden)
Scrape Page 142/167 (2839 Immobilien Wohnung Miete gefunden)
Scrape Page 143/167 (2859 Immobilien Wohnung Miete gefunden)
Scrape Page 144/167 (2879 Immobilien Wohnung Miete gefunden)
Scrape Page 145/167 (2899 Immobilien Wohnung Miete gefunden)
Scrape Page 146/167 (2919 Immobilien Wohnung Miete gefunden)
Scrape Page 147/167 (2939 Immobilien Wohnung Miete gefunden)
Scrape Page 148/167 (2959 Immobilien Wohnung Miete gefunden)
Scrape Page 149/167 (2979 Immobilien Wohnung Miete gefunden)
Scrape Page 150/167 (2999 Immobilien Wohnung Miete gefunden)
Scrape Page 151/167 (3019 Immobilien Wohnung Miete gefunden)
Scrape Page 152/167 (3039 Immobilien Wohnung Miete gefunden)
Scrape Page 153/167 (3059 Immobilien Wohnung Miete gefunden)
Scrape Page 154/167 (3079 Immobilien Wohnung Miete gefunden)
Scrape Page 155/167 (3099 Immobilien Wohnung Miete gefunden)
Scrape Page 156/167 (3119 Immobilien Wohnung Miete gefunden)
Scrape Page 157/167 (3139 Immobilien Wohnung Miete gefunden)
Scrape Page 158/167 (3159 Immobilien Wohnung Miete gefunden)
Scrape Page 159/167 (3179 Immobilien Wohnung Miete gefunden)
Scrape Page 160/167 (3199 Immobilien Wohnung Miete gefunden)
Scrape Page 161/167 (3219 Immobilien Wohnung Miete gefunden)
Scrape Page 162/167 (3239 Immobilien Wohnung Miete gefunden)
Scrape Page 163/167 (3259 Immobilien Wohnung Miete gefunden)
Scrape Page 164/167 (3279 Immobilien Wohnung Miete gefunden)
Scrape Page 165/167 (3299 Immobilien Wohnung Miete gefunden)
Scrape Page 166/166 (3319 Immobilien Wohnung Miete gefunden)

## Datenaufbereitung & Cleaning

Die gesammelten Daten werden in ein sauberes Datenformat konvertiert, welches z.B. auch mit Excel gelesen werden kann. Weiterhin werden die Ergebnisse pseudonymisiert, d.h. die Anbieter bekommen eindeutige Nummern statt Klarnamen.

In [5]:
import datetime
timestamp = datetime.datetime.strftime(datetime.datetime.now(), '%Y-%m-%d-%H-%M')

In [6]:
import pandas as pd

In [7]:
df = pd.DataFrame(immos).T
df.index.name = 'ID'

In [8]:
len(df)

3319

In [9]:
df.head()

,Haus/Wohnung,ID,Miete/Kauf,address,balcony,builtInKitchen,city,floorplan,from,garden,lat,livingSpace,lon,numberOfRooms,postcode,price,privateOffer,quarter,title,url
ID,,,,,,,,,,,,,,,,,,,,
100027976,Wohnung,100027976,Miete,"PohlestraÃe 14, KÃ¶penick (KÃ¶penick), Berlin",true,true,Berlin,true,001.3112839,false,52.4406,83,13.5841,3,12557,828,false,KÃ¶penick (KÃ¶penick),3 RaumWohnung; Balkon +Dach Garten Anteil + EB...,https://www.immobilienscout24.de/expose/100027976
100122011,Wohnung,100122011,Miete,"Soldiner StraÃe 35, Wedding (Wedding), Berlin",false,false,Berlin,false,001.172849,false,52.5599,83.55,13.3828,2,13359,1086,false,Wedding (Wedding),!!! DREI NETTOKALTMIETEN FREI !!! - GroÃe 2-Zi...,https://www.immobilienscout24.de/expose/100122011
100149210,Wohnung,100149210,Miete,"Vopeliuspfad 10, Zehlendorf (Zehlendorf), Berlin",true,true,Berlin,true,001.453607,false,52.4349,238,13.2673,6,14169,2760,false,Zehlendorf (Zehlendorf),++Eindrucksvolle Altbauwohnung im 2. OG mit 3 ...,https://www.immobilienscout24.de/expose/100149210
100150862,Wohnung,100150862,Miete,"Rudolf-von-Gneist-Gasse 1, Tiergarten (Tiergar...",true,true,Berlin,true,001.37030,false,52.5068,102.2,13.3742,2,10785,1636,false,Tiergarten (Tiergarten),#Skylights: Dachgeschossmaisonette mit groÃer ...,https://www.immobilienscout24.de/expose/100150862
100155473,Wohnung,100155473,Miete,"Wackenbergstr. 57, NiederschÃ¶nhausen (Pankow),...",true,true,Berlin,true,009.bfab7c1d-44dd-4f47-bd7f-06d43ad6fd52,false,52.5862,74.94,13.4138,2,13156,636.76,true,NiederschÃ¶nhausen (Pankow),"SchÃ¶n Wohnen im Erdgeschoss mit Terrasse und ""...",https://www.immobilienscout24.de/expose/100155473

In [10]:
df['price_sq_m'] = df['price'] / df['livingSpace']

In [11]:
df.head()

,Haus/Wohnung,ID,Miete/Kauf,address,balcony,builtInKitchen,city,floorplan,from,garden,...,livingSpace,lon,numberOfRooms,postcode,price,privateOffer,quarter,title,url,price_sq_m
ID,,,,,,,,,,,,,,,,,,,,,
100027976,Wohnung,100027976,Miete,"PohlestraÃe 14, KÃ¶penick (KÃ¶penick), Berlin",true,true,Berlin,true,001.3112839,false,...,83,13.5841,3,12557,828,false,KÃ¶penick (KÃ¶penick),3 RaumWohnung; Balkon +Dach Garten Anteil + EB...,https://www.immobilienscout24.de/expose/100027976,9.9759
100122011,Wohnung,100122011,Miete,"Soldiner StraÃe 35, Wedding (Wedding), Berlin",false,false,Berlin,false,001.172849,false,...,83.55,13.3828,2,13359,1086,false,Wedding (Wedding),!!! DREI NETTOKALTMIETEN FREI !!! - GroÃe 2-Zi...,https://www.immobilienscout24.de/expose/100122011,12.9982
100149210,Wohnung,100149210,Miete,"Vopeliuspfad 10, Zehlendorf (Zehlendorf), Berlin",true,true,Berlin,true,001.453607,false,...,238,13.2673,6,14169,2760,false,Zehlendorf (Zehlendorf),++Eindrucksvolle Altbauwohnung im 2. OG mit 3 ...,https://www.immobilienscout24.de/expose/100149210,11.5966
100150862,Wohnung,100150862,Miete,"Rudolf-von-Gneist-Gasse 1, Tiergarten (Tiergar...",true,true,Berlin,true,001.37030,false,...,102.2,13.3742,2,10785,1636,false,Tiergarten (Tiergarten),#Skylights: Dachgeschossmaisonette mit groÃer ...,https://www.immobilienscout24.de/expose/100150862,16.0078
100155473,Wohnung,100155473,Miete,"Wackenbergstr. 57, NiederschÃ¶nhausen (Pankow),...",true,true,Berlin,true,009.bfab7c1d-44dd-4f47-bd7f-06d43ad6fd52,false,...,74.94,13.4138,2,13156,636.76,true,NiederschÃ¶nhausen (Pankow),"SchÃ¶n Wohnen im Erdgeschoss mit Terrasse und ""...",https://www.immobilienscout24.de/expose/100155473,8.49693

In [12]:
df.columns

Index([  u'Haus/Wohnung',             u'ID',     u'Miete/Kauf',
              u'address',        u'balcony', u'builtInKitchen',
                 u'city',      u'floorplan',           u'from',
               u'garden',            u'lat',    u'livingSpace',
                  u'lon',  u'numberOfRooms',       u'postcode',
                u'price',   u'privateOffer',        u'quarter',
                u'title',            u'url',     u'price_sq_m'],
      dtype='object')

In [14]:
df.shape

(3319, 21)

## Alles Dumpen

In [13]:
f = open('%s-%s-%s.csv' % (timestamp, k, w), 'wb')
f.write('# %s %s from immoscout24.de on %s\n' % (k,w,timestamp))
df[(df['Haus/Wohnung']==k) & (df['Miete/Kauf']==w)].to_csv(f, encoding='utf-8')
f.close()

In [11]:
#df.to_excel('%s-%s-%s.xlsx' % (timestamp, k, w))

Fragen? [@Balzer82](https://twitter.com/Balzer82)